@{
    ViewBag.Title = "About";
    int numberOfTimes = ViewBag.NumberOfTimes;
}
@*<h2>@ViewBag.Title.</h2>*@
<h1>Hello, World!!</h1>
<br />
<br />

@for(int i = 0; i<numberOfTimes; i++)
{
    <p>Hello, Archana!</p>
}
